.modal-container.top-right {
  align-items: flex-start;
  justify-content: flex-end;
}

.modal-container.bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}

.modal-container.bottom-left {
  align-items: flex-end;
  justify-content: flex-start;
}

.modal-container.top-left {
  align-items: flex-start;
  justify-content: flex-start;
}

.modal-container.middle-center {
  align-items: center;
  justify-content: center;
}
